## ДЗ №1

Используя данные таблицы 'math_students.csv', ответьте на следующие вопросы:

In [1]:
import pandas as pd

df = pd.read_csv('math_students.csv')

1. Какая причина выбора школы была самой частой? В качестве ответа приведите соответствующее значение признака.

In [2]:
df['reason'].describe()
# самая частая причина 'course'

count        395
unique         4
top       course
freq         145
Name: reason, dtype: object

2. Найдите количество студентов, у родителей которых нет никакого образования.

In [3]:
df[(df['Fedu'] == 0) & (df['Medu'] == 0)]
# нет таких студентов, чтобы у обоих родителей не было образования

Empty DataFrame
Columns: [school, sex, age, address, famsize, Pstatus, Medu, Fedu, Mjob, Fjob, reason, guardian, traveltime, studytime, failures, schoolsup, famsup, paid, activities, nursery, higher, internet, romantic, famrel, freetime, goout, Dalc, Walc, health, absences, G1, G2, G3]
Index: []

[0 rows x 33 columns]

In [4]:
df[(df['Fedu'] == 0) | (df['Medu'] == 0)]
# но есть 5 студентов, у которых хотя бы один родитель без образования

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
76,GP,M,15,U,GT3,T,4,0,teacher,other,...,3,4,3,1,1,1,8,11,11,10
127,GP,F,19,U,GT3,T,0,1,at_home,other,...,3,4,2,1,1,5,2,7,8,9
171,GP,M,16,U,GT3,T,1,0,other,other,...,4,3,2,1,1,3,2,13,15,16
249,GP,M,16,U,GT3,T,0,2,other,other,...,4,3,2,2,4,5,0,13,15,15
324,GP,F,17,U,LE3,T,0,2,at_home,at_home,...,3,3,3,2,3,2,0,16,15,15

3. Найдите минимальный возраст учащегося школы Mousinho da Silveira.

In [5]:
df[df['school'] == 'MS']['age'].min()
# 17 лет

17

4. Найдите количество студентов, имеющих нечетное число пропусков.

In [6]:
df[df['absences'] % 2 == 1].count()
# 41 студент имеет нечетное число пропусков

school        41
sex           41
age           41
address       41
famsize       41
Pstatus       41
Medu          41
Fedu          41
Mjob          41
Fjob          41
reason        41
guardian      41
traveltime    41
studytime     41
failures      41
schoolsup     41
famsup        41
paid          41
activities    41
nursery       41
higher        41
internet      41
romantic      41
famrel        41
freetime      41
goout         41
Dalc          41
Walc          41
health        41
absences      41
G1            41
G2            41
G3            41
dtype: int64

5. Найдите разность между средними итоговыми оценками студентов, состоящих и не состоящих в романтических отношениях. В качестве ответа приведите число, округленное до двух значащих цифр после запятой.

In [7]:
abs(round((df[df['romantic'] =='yes']['G3'].mean() - df[df['romantic'] =='no']['G3'].mean()),2))

1.26

6. Сколько занятий пропустило большинство студентов с самым частым значением наличия внеклассных активностей?

*Примечание. В данном контексте под "большинством" подразумеваются студенты, имеющее самое частое значение пропусков. То есть в данном задании необходимо:*


* *Определить самое частое значение наличия внеклассных активностей (да или нет).*
* *Для группы студентов, соответствующей этому значению, рассмотреть значения признака «число пропусков».*
* *Для каждого значения числа пропусков посчитать, сколько студентов ему соответствует.*
* *Выбрать значение числа пропусков с наибольшим числом студентов.*

In [10]:
df['activities'].value_counts()
# самое частое значение внекласных занятий 'yes'

yes    201
no     194
Name: activities, dtype: int64

In [14]:
df[df['activities']=='yes']['absences']

3       2
5      10
9       0
11      4
12      2
       ..
381     5
382     2
386     7
387     0
389     0
Name: absences, Length: 201, dtype: int64